@font-face {
    font-family: 'belligerent_madnessregular';
    src: url('belligerent-webfont.eot');
    src: url('belligerent-webfont.eot?#iefix') format('embedded-opentype'),
         url('belligerent-webfont.woff2') format('woff2'),
         url('belligerent-webfont.woff') format('woff'),
         url('belligerent-webfont.ttf') format('truetype'),
         url('belligerent-webfont.svg#belligerent_madnessregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


body
{
 padding: 0;
 margin: 0;
 width: auto;
 height: auto;
 background-color: #FAEBD7 ;
}

 #container
{
 padding: 0;
 margin: 0;
 width: auto;
}


/* le header/haut du site*/
#nav_commande
{
 width: 100%;
 height: 80px;
 background: #E4E2E2;
 display: flex;
 /*justify-content: ;*/
 align-items: center;
 font-family: 'belligerent_madnessregular', Arial, sans-serif;
}

nav
{
 width: 100%;
 height: 90px;
 background: #a664aa;
 display: flex;
 justify-content: space-between;
 align-items: center;
 font-family: 'belligerent_madnessregular', Arial, sans-serif;

}

.nav_links
{
 width: 20%;
 display: flex;
 color: white;
 justify-content: space-around;
}

.link
{
 color: white;
 text-decoration: none;
 font-size: 1.5em;
}



.brand
{
 display: flex;
 justify-content: left;
 padding-top: 5px;
 margin-left: 15px;
 color: white; /* #e7ceed*/
 text-decoration: none;
 font-size: 2.5em;
 font-family: 'belligerent_madnessregular', Arial, sans-serif;
 font-weight: bold;
}

.brand_article
{
 color: #a664aa;
}
/* fin du header */

/* boucle_seven / début */
img
{
 height: 250px;
 width: 250px;
 border-radius: 50px;
}

#bloc_seven
{
 display: flex;
 flex-direction: row;
 background-color: #deb6e0;
 border-radius: 50px;
 margin-bottom: 35px;
}

#bloc_heigt, #bloc_nine, #bloc_teen
{
 display: flex;
 width: 250px;
 flex-direction: column;
 background-color: red;
 color: white;
 font-size: 30px;
 text-align: center;
 border-radius: 50px;
}

#bloc_heigt
{
 background-color: #a664aa;
}

#bloc_nine
{
 background-color: #32CD32;
}

.teddyQuantity
{
 padding-top: 35px;
}


#bloc_teen
{
 background-color: red;
}

.teddyPrix
{
 padding-top: 75px;
}



/* boucle_seven / FIN */

#checkoutTitle, h2
{
  text-align: center;
}

/* section finalPrice */

#finalPrice
{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#addBtn
{
  display: flex;
  /*align-items: center;*/
  justify-content: center;
}


#form
{
  display: none;
  height: 200px;
  flex-direction: column;
  border-radius: 5px;
  background-color: #deb6e0;
  padding: 1.7rem;
}
/* FIN / <button> */

/* début du footer */
.title_footer
{
 text-align: center;
 font-family: 'belligerent_madnessregular', Arial, sans-serif;
 color: white;
 font-size: 45px;
 padding-top: 15px;
}

.fas
{
  color: #a664aa;
}

.fa-cart-arrow-down
{
  color: white;
  font-size: 1.5em;
}

.bottom
{
  width: 100%;
  height: 200px;
  background: #a664aa;
}

.social
{
 display: flex;
 justify-content: center;
 width: 95%;
 font-size: 55px;
 color: white;
 text-decoration: none;
}

.fab
{
  color: white;
  margin-left: 80px;
}


/* ----------------- @mediaquery / responsive ----------------*/

@media screen and (max-width: 1440px){


}

@media screen and (max-width: 1024px){

}

@media screen and (max-width: 768px){


}

@media screen and (max-width: 414px){
  /*  ------- nav bar -------- */

   nav
   {
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: column;
   }

   .nav_links
   {
     display: block;
     width: 20%;
     color: white;
     justify-content: space-around;
   }

  .brand
   {
    font-size: 4em;
   }

  /* -------- FIN du nav bar ------ */

  /* ------- section / product ------ */
  img
  {
      height: 200px;
      width: 250px;
      border-radius: 50px;
  }


  .teddyImg
  {
   width: 100%;
   height: 200px;
   border-radius: 50px;
  }

  #bloc_seven
  {
    height: 790px;
    width: 250px;
    margin-left: 80px;
    flex-direction: column;
    text-align: center;
    margin-bottom: 35px;
  }

  .teddyQuantity, .teddyPrix
  {
   padding-top: 0px;
  }



  /* ------- FIN de la section / product ------ */

  /* -------- footer -------- */

  .bottom
  {
     height: 300px;
  }

  .social
  {
    flex-direction: column;
    align-items: center;
    width: 75%;
  }

  /* --------  Fin du footer --------- */


}


@media screen and (max-width: 375px){
  /*  ------- nav bar -------- */

   nav
   {
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: column;
   }

   .nav_links
   {
     display: block;
     width: 20%;
     color: white;
     justify-content: space-around;
   }

  .brand
   {
     font-size: 4em;
   }

/* -------- FIN du nav bar ------ */

/* ------- section / product ------ */



img
{
    height: 200px;
    width: 250px;
    border-radius: 50px;
}


 .teddyImg
 {
   width: 100%;
   height: 200px;
   border-radius: 50px;
  }

  #bloc_seven
  {
    height: 790px;
    width: 250px;
    margin-left: 70px;
    flex-direction: column;
    text-align: center;
    margin-bottom: 35px;
  }

  .teddyQuantity, .teddyPrix
  {
   padding-top: 0px;
  }


/* ------- FIN de la section / product ------ */

/* -------- footer -------- */

  .bottom
  {
     height: 300px;
  }

  .social
  {
    flex-direction: column;
    align-items: center;
    width: 75%;
  }

/* --------  Fin du footer --------- */



}


@media screen and (max-width: 320px){

  /*  ------- nav bar -------- */

   nav
   {
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: column;
   }

   .nav_links
   {
     display: block;
     width: 20%;
     color: white;
     justify-content: space-around;
   }

  .brand
   {
    font-size: 4em;
   }

/* -------- FIN du nav bar ------ */

/* ------- section / product ------ */

img
{
  height: 200px;
  width: 250px;
  border-radius: 50px;
}

.teddyImg
 {
   width: 100%;
   height: 200px;
   border-radius: 50px;
 }


  #bloc_seven
  {
    height: 650px;
    width: 250px;
    margin-left: 30px;
    flex-direction: column;
    text-align: center;
    margin-bottom: 35px;
  }

  #bloc_heigt, #bloc_nine, #bloc_teen
  {
   font-size: 20px;
   text-align: center;
  }

  .teddyQuantity, .teddyPrix
  {
   padding-top: 0px;
  }




/* ------- FIN de la section / product ------ */

/* -------- footer -------- */

  .bottom
  {
     height: 300px;
  }

  .social
  {
    flex-direction: column;
    align-items: center;
    width: 75%;
  }

/* --------  Fin du footer --------- */


}
